<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gestión de Plazas</title>
       
    <script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="Librerias/angular.min.js"></script>
    <script type="text/javascript" src="gestionPlazas.js"></script>
    
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.min.css">
    <link href="Css/bootstrap.css" rel="stylesheet" type="text/css">
    
</head>
<body style="background:gray">
    <div ng-app="AppPlaza" class="container-fluid">
        <div ng-controller="ControlAppPlazas" class="form-group">
        
            <form ng-show="formVisible" ng-submit="agregar()">
                <h2 align="center" style="color:cyan"> Ingrese nuevos datos de la Plaza</h2>
                <table align="center">
                    <tr>
                        <td><b>Id</b></td>
                        <td><input type="text" name="" ng-model="id" placeholder="Ingrese la Id" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b>Nombre</b></td>
                        <td><input type="text" name="" ng-model="nombre" placeholder="Ingrese Nombre del Parqueadero" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b>Dirección</b></td>
                        <td><input type="text" name="" ng-model="direccion" placeholder="Ingrese la Dirección" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b>Número de Plazas</b></td>
                        <td><input type="text" name="" ng-model="nPlazas" placeholder="Ingrese el número de plazas" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b>Precio</b></td>
                        <td><input type="text" name="" ng-model="precio" placeholder="Ingrese el precio por hora" class="form-control"></td>
                    </tr>
                </table>
                <br><center><input type="submit" name="" value="Agregar" class="btn btn-primary">
                <input type="button" name="" value="Guardar Cambios" class="btn btn-success" ng-click="editar()"></center>
            </form>            
            <h2 style="color:blue" align="center"><marquee bgcolor="gray" width="100%" scrolldelay="100" scrollamount="9" direction="LEFT" loop="infinite">TODOS LOS PARQUEADEROS</marquee></h2>
            
            <table border="1" align="center" class="table table-circle">
                <tr>
                    <td colspan="2" align="center"><h4><b>Buscar:</b></h4></td>
                    <td colspan="4"><input type="text" placeholder="Ingrese una palabra o letra para la búsqueda" ng-model="buscar" class="form-control"></td>
                </tr>
                <tr style="background:green">
                    <th>Id</th>
                    <th><a href="" ng-click="ordenar('nombre')">Nombre</a></th>
                    <th><a href="" ng-click="ordenar('direccion')">Nombre</a></th>
                    <th><a href="" ng-click="ordenar('nPlazas')">Numero de Plazas</a></th>
                    <th><a href="" ng-click="ordenar('precio')">Precio</a></th>
                    <th>Opciones</th>
                </tr>
                <tr class="success" ng-repeat="n in plazas | orderBy:ordenado | filter:buscar">
                    <td>{{n.id}}</td>
                    <td>{{n.nombre}}</td>
                    <td>{{n.direccion}}</td>
                    <td>{{n.nPlazas}}</td>
                    <td>{{n.precio}}</td>
                    <td>
                    <a href="#mostrarmodal" data-toggle="modal" class="btn-primary btn btn-info">Seleccionar</a>
                    </td>
                </tr>
            </table>
            <center><button ng-click="ShowForm()" ng-hide="formVisible" class="btn btn-succes">Agregar Parqueadero</button></center>
        </div>
        
        <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <center>
           <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Seleccione la hora de entrada y salida</h3>
                 </div>
                 <div class="modal-body">
                    <h4>Hora de entrada</h4>
                    <select size="1" ng-model="horaEntrada" style="width:225px">
                        <option value="6">06:00</option>
                        <option value="7">07:00</option>
                        <option value="8">08:00</option>
                        <option value="9">09:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                    </select>
                    <h4>Hora de Salida</h4>
                    <select size="1" ng-model="horaSalida" style="width:225px">
                        <option value="6">06:00</option>
                        <option value="7">07:00</option>
                        <option value="8">08:00</option>
                        <option value="9">09:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                    </select>    
                </div>
                <div class="modal-footer">
                   <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
                   <input type="button" ng-click="" class="btn btn-success" value="Reservar" data-dismiss="modal">
                </div>
              </div>
           </div>
           </center>
        </div> 
        <h1> Hora entrada = {{horaEntrada}}</h1>
        <h1> Hora entrada = {{horaSalida}}</h1>
        <h1> Precio = {{(horaSalida-horaEntrada)}}*{{plazas.precio}}</h1>
    </div>
</body>
</html>